.btn {
  max-width: rem(300px);
  width: 100%;
  padding: 0.625em;
  text-transform: uppercase;
  border: 2px solid transparent;
  background-color: $yellow;
  margin-bottom: 3.125em;
  border-radius: 5px;
  color: $white;
  transition: 0.2s;

  &:hover,
  &:active {
    background-color: $orange;
    box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.3);
  }

  &:active {
    border-color: $orange-second;
  }

  &--disabled {
    background-color: $gray;

    &:hover {
      background-color: $gray;
      box-shadow: none;
    }
  }
}
